<div class="ui four column grid footer">
  <div class="container">
    <div class="column clma">
      <p><b> About The Site</b></p>
      <p>The Data of Covid-19 Pandamic is being taken from a free API .</p>
      <p>API Credits : <a class="apicredits" href="https://github.com/CSSEGISandData/COVID-19" target="_blank"> @CSSEGISandData</a> ==> GITHUB</p>
    </div>
    
    <div class="column clmb">
      <p><b>Latest Updates</b></p>
      <p>Implemented Dynamic Updation of Data - yey!!</p>
    </div>
  </div>    
</div>