<div class="ui inverted dimmer" [class.active]='loading'>
    <div class="ui text loader">Loading</div>
</div>
 
<div class="bg-white text-center">

    <h1 class="display-5">COVID-19 Coronavirus pandamic Tracker</h1>
    <p class="lead">A snapshot of the entire data across all the countries</p>

    <hr>

</div>

<div class="bg-light text-center" style="padding:.6rem">
    <div class="alert alert-warning">
        <p>NOTE: As of <strong>April 13, 2024</strong>, the Coronavirus Tracker is no longer being updated
            due to the unfeasibility of providing statistically valid global totals, as the majority of countries have
            now stopped reporting.</p>
    </div>
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered'
        [totalDeaths]='totalDeaths'>
    </app-dashboard-card>
</div>

<br>

<div class="ui form">
    <div class="inline fields">
        <label for="fruit">Select Case Type:</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value="confirmed" id="c" name="casetype" (click)='updateChart($event)' checked="" tabindex="0"
                    [checked]="defaultCaseType === 'confirmed'" 
                    class="hidden">
                <label for="c">Confirmed</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" id="d" value="deaths" name="casetype" (click)='updateChart($event)' tabindex="0"
                    [checked]="defaultCaseType === 'deaths'"
                    class="hidden">
                <label for="d">Deaths</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value="recoverd" id="r" name="casetype" (click)='updateChart($event)' tabindex="0"
                    [checked]="defaultCaseType === 'recoverd'"
                    class="hidden">
                <label for="r">Recoverd</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" value="active" id="a" (click)='updateChart($event)' name="casetype" tabindex="0"
                    [checked]="defaultCaseType === 'active'"
                    class="hidden">
                <label for="a">Active</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <google-chart [type]='chart.PieChart' [options]='chart.options' style="width: 100%;" [height]='chart.height'
            [data]='datatable'></google-chart>
    </div>
    <div class="col">
        <google-chart [type]='chart.ColumnChart' style="width: 100%;" [options]='chart.options' [height]='chart.height'
            [data]='datatable'></google-chart>
    </div>
</div>