 
<div class="bg-white text-center">

    <h1 class="display-5">COVID-19 Coronavirus pandamic Tracker(WIP)</h1>
    <p class="lead">Please provide your feedback. It really helps me inprove.</p>

    <hr>

</div> 

<div class="container d-flex justify-content-center" >
    <div class="row" style="gap: 6rem">
        <form class="ui form">
            <div class="field">
            <label>Name</label>
            <input type="text" name="first-name" placeholder="Your Name">
            </div>
            <div class="field">
            <label>Rating</label>
            <input type="text" name="last-name" placeholder="How would you rate this site out of 5?">
            </div>
            <div class="field">
                <label>What do you think about this Dashboard?</label>
                <textarea placeholder="Please write some feedback here!!"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        <div class="right floated column">
            <img src="../../../assets/feedback.png" alt="" height="400px" srcset="">
        </div>
    </div>
    
</div>