<div class="jumbotron bg-white text-center">
    <h1 class="display-3">Corona Covid-19 Tracker</h1>
</div> 
<hr>
<div class="container ui two column grid">
    <div class="row">
        <form class="ui form">
            <div class="field">
            <label>Name</label>
            <input type="text" name="first-name" placeholder="Your Name">
            </div>
            <div class="field">
            <label>Rating</label>
            <input type="text" name="last-name" placeholder="How would you rate this site out of 5?">
            </div>
            <div class="field">
                <label>What do you think about this Dashboard?</label>
                <textarea placeholder="Please write some feedback here!!"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
        <div class="right floated column">
            <img src="../../../assets/feedback.png" alt="" height="400px" srcset="">
        </div>
    </div>
    
</div>